<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
          </ion-buttons>
        <ion-title > <img src="/assets/logo.png" alt="" style="width: 10rem" /></ion-title>
      </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-text>We are an advanced integrated system of global digital contains. News, sports, entertainment, music, Games. This is the main platform of our system. Here users can find world news more relevant and constant updates, in addition to a modern and current web radio. On this portal companies or individuals may carry advertisements for their products or services. This product integrates with our services allowing creates a signature for your email, or create a new one.</ion-text>

</ion-content>
