<ion-tabs>

  <ion-tab-bar slot="bottom"  color="#EE2121">
    <ion-tab-button href="http://www.dotusmail.com/">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Dotusmail</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Dotusnews</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
    <ion-tab-button href="tel:7865288031">
      <ion-icon name="call"></ion-icon>
      <ion-label>Call Us</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
